[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee !important;
}

[data-theme="dark"] .bg-black {
    background-color: #fff !important;
    color: rgb(255, 255, 255) !important;
}

[data-theme="dark"] .bg-dark {
    background-color: #eee !important;
    color: rgb(255, 255, 255) !important;
}

[data-theme="dark"] .bg-light {
    background-color: #222 !important;
    color: rgb(255, 255, 255) !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
    color: rgb(255, 255, 255) !important;
}

[data-theme="dark"] p {
    color: rgb(255, 255, 255) !important;
}