<!DOCTYPE html>
<html lang="en">
<head>
    <title>Minecraft Server</title>
    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {{!-- STYLES --}}
    {{!--<link rel="stylesheet" href="/css/styles.css">--}}

    <link href="/css/emoji.css" rel="stylesheet">

    <meta charset="utf-8">
	
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <title>Minecraft Server</title>


  <link rel="stylesheet" href="/css/styles.css">
	<style>
		
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
	  html { overflow-y: scroll; }

	  a { 
		text-decoration: none; 
	  }
      

	  body {
        
	  min-height: 75rem;
	  padding-top: 2rem;
	  }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
	  
	  
    </style>


    <script
    nomodule>window.MSInputMethodContext && document.documentMode && document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-ie11@5/css/bootstrap-ie11.min.css"><script src="https://cdn.jsdelivr.net/npm/ie11-custom-properties@4/ie11CustomProperties.min.js"><\/script>');</script>

    <link rel="stylesheet" href="/css/dark-mode.css">
</head>
<body>    
    <main class="container">
        {{> navigation}}
        {{> message}}
        {{{body}}}
    </main>
    
    
  <div class="form-check form-switch">
  <input type="checkbox" class="form-check-input" id="darkSwitch" />
  <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
</div>
<script src="/js/dark-mode-switch.min.js"></script>
<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
      console.log(matches);
}


</script>
    <script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"> </script>
    <script type="text/javascript" src="/js/emoji.js"></script>
    
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>